/*
****************************************
* tags
****************************************
*/

body {
	font-family: Arial, sans-serif;
	line-height: 14px;
	font-size: 12px;
	margin: 0;
	padding: 0;
	background: -webkit-linear-gradient(top,  rgba( 255, 139, 96, 0.2 ) 0%, rgba( 148, 148, 255, 0.2 ) 100%);
	background: linear-gradient(to bottom,  #rgba( 255, 139, 96, 0.2 ) 0%, rgba( 148, 148, 255, 0.2 ) 100%);
}

hr {
	display: block;
	height: 1px;
	border: none;
	margin: 5px 0;
	padding: 0;
	background: -webkit-linear-gradient( right, rgba( 148, 148, 255, 0.2 ) 0%, rgba( 255, 139, 96, 0.2 ) 100%);
	background: linear-gradient(to right,  #rgba( 148, 148, 255, 0.2 ) 0%, rgba( 255, 139, 96, 0.2 ) 100%);
	box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, .15);
	-webkit-box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, .15);
}

/*
****************************************
* inputs/controls
****************************************
*/

.zeroIsDisabled {
	color: #aaa;
}

input[type="button"],
input[type="color"],
button {
	-webkit-appearance: none !important;
	background: #e8e8ff;
	background: gradient( linear, left top, left bottom, from(#fff), to(#e8e8ff) );
	background: -webkit-gradient( linear, left top, left bottom, from(#fff), to(#e8e8ff) );
	background: linear-gradient( top, #fff, #e8e8ff );
	background: -webkit-linear-gradient( top, #fff, #e8e8ff );
	border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #646AAA;
	color: #000;
	font-size: 12px;
	font-family: Arial, sans-serif;
	text-decoration: none;
	padding: 2px 4px;
	vertical-align: middle;
	opacity: 1;
}

input[type="button"]:hover,
input[type="color"]:hover,
button:hover,
input[type="button"]:active,
input[type="color"]:active,
button:active {
	background: #fff;
	background: gradient( linear, left top, left bottom, from(#e8e8ff), to(#fff) );
	background: -webkit-gradient( linear, left top, left bottom, from(#e8e8ff), to(#fff) );
	background: linear-gradient( top, #e8e8ff, #fff );
	background: -webkit-linear-gradient( top, #e8e8ff, #fff );
	color: #b25f43;
	border: 1px solid #B25F43;
	opacity: 1 !important;
}

input[type="button"]:active,
input[type="color"]:active,
button:active {
	border: 1px solid #FF8B60;
}
input[type="color"]{
	height: 20px;
	padding: 0;
	width: 20px;
	border: none;
	background: transparent;
}

input[type="range"]{
	vertical-align: middle;
	height: 10px;
	width: 50px;
}

input[type="button"]:disabled,
input[type="color"]:disabled,
button:disabled,
input[type="button"]:disabled:hover,
input[type="color"]:disabled:hover,
button:disabled:hover {
	background: #fff;
	background: gradient( linear, left top, left bottom, from(#fff), to(#888) );
	background: -webkit-gradient( linear, left top, left bottom, from(#fff), to(#888) );
	background: linear-gradient( top, #fff, #888 );
	background: -webkit-linear-gradient( top, #fff, #888 );
	border: 1px solid #333;
	color: #555;
	opacity: 0.25 !important;
}

button.nckDangerButton {
	color: #000;
	font-weight: bold;
	background: #F00;
	background: gradient( linear, left top, left bottom, from(#F55), to(#ffeae2) );
	background: -webkit-gradient( linear, left top, left bottom, from(#F55), to(#ffeae2) );
	background: linear-gradient( top, #F55, #ffeae2 );
	background: -webkit-linear-gradient( top, #F55, #ffeae2 );
	border: 1px solid #960000;
}

input[type="button"].nckDangerButton:hover,
button.nckDangerButton:hover,
input[type="button"].nckDangerButton:active,
button.nckDangerButton:active {
	background: #fff;
	background: gradient( linear, left top, left bottom, from(#ffeae2), to(#F00) );
	background: -webkit-gradient( linear, left top, left bottom, from(#ffeae2), to(#F00) );
	background: linear-gradient( top, #ffeae2, #F00 );
	background: -webkit-linear-gradient( top, #ffeae2, #F00 );
	color: #FFF;
	border: 1px solid #F00;
	opacity: 1 !important;
}

.nckButtonRow {
	margin: 5px 0;
	text-align: left;
}
.nckButtonRowHelp {
	opacity: 0.5;
}
.nckButtonRowHelp:hover {
	opacity: 1;
}

.nck-close-x {
	position: fixed;
	top: 0;
	right: 0;
	height: 14px;
	width: 14px;
	font-size: 8px;
	line-height: 9px;
	text-align: center;
	padding: 0;
	margin: 10px;
}

.mainOptionsNote {
	margin: 20px 0;
}

/*
****************************************
* spinners
****************************************
*/

.nkSpinner16,
.nkSpinner32,
.nkSpinner64,
.nkSpinner128 {
	display: block;
	height: 100%;
	margin: 0 auto;
	color: #000;
	font: arial, sans-serif;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	opacity: .3;
	background-position: center center;
}

.nkSpinner16 {
	background: url( "img/spinner_16.gif" ) center center no-repeat;
	width: 16px;
	text-indent: -500px; /* hide the text */
	font-size: 6px;
	padding-top: 0;
}

.nkSpinner32 {
	background: url( "img/spinner_32.gif" ) center center no-repeat;
	width: 32px;
	height: 32px;
	font-size: 6px;
	line-height: 32px;
	margin-top: calc( 50% - 16px );
	margin-top: -webkit-calc( 50% - 16px );
}

.nkSpinner64 {
	background: url( "img/spinner_64.gif" ) center center no-repeat;
	width: 64px;
	height: 64px;
	font-size: 12px;
	line-height: 64px;
	margin-top: calc( 50% - 32px );
	margin-top: -webkit-calc( 50% - 32px );
}

.nkSpinner128 {
	background: url( "img/spinner_128.gif" ) center center no-repeat;
	width: 128px;
	height: 128px;
	font-size: 24px;
	line-height: 128px;
	margin-top: calc( 50% - 64px );
	margin-top: -webkit-calc( 50% - 64px );
}

/*
****************************************
* simple CSS tab system
****************************************
*/

.tab-group {
	display: block;
	clear: both;
	position: relative;
	min-height: 410px;
	margin: 0;
}

.clear {
	clear: both;
}

.tab-single {
	float: left;
}

.tab-single .tab-radio {
	display: none;
}

.tab-label {
	padding: 2px 5px;
	margin-left: -1px;
	position: relative;
	top: 0;
	left: 1px;
	background: rgba( 180, 180, 180, 0.35 );
	border: 1px solid #ccc;
	font-weight: bold;
}

.tab-label:hover {
	background: rgba( 230, 230, 230, 0.45 );
}

input[type="radio"]:checked ~ label {
	background: rgba( 255, 255, 255, 0.65 );
	border-bottom: rgba( 255, 255, 255, 0.65 );
	z-index: 2;
}

.tab-contents {
	position: absolute;
	top: 15px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	border: 1px solid #ccc;
	display: none;
	background: rgba( 255, 255, 255, 0.65 );
	background-image: url( "img/nk_logo_bg.png" );
	background-repeat: no-repeat;
	background-position: center right;
}

input[type="radio"]:checked ~ label ~ .tab-contents {
	display: block;
	z-index: 1;
}

.tab-contents p {
	margin: 5px;
	/* margin-right: 400px; */
}

/*
****************************************
* misc
****************************************
*/

.nckContent {
	margin: 10px;
}

.nckContent canvas {
}

.nckKarmaDown {
	color: red;
}
.nckKarmaUp {
	color: green;
}

h3.nck-html-stat[data-stat="ext_name_full"] {
	margin: 0;
}

.nckHidden {
	display: none !important;
}

.test_canvas_icon {
	border: 3px solid rgba( 0, 0, 0, 0.15 );
}

.nkNote {
	font-size: 9px;
	vertical-align: middle;
}

/*
****************************************
* popup page
****************************************
*/

.nckPopup {
	width: 400px;
	font-size: 80%;
}

.nckPopup hr {
	margin-right: 20px;

}

.nckPopUserStats {
	font-family: Arial, sans-serif;
	font-size: 11px;
}

.nckPopUserStats tr td:first-child {
	color: #666666;
	text-align: right;
	font-style: italic;
}

/*
****************************************
* options page
****************************************
*/

#tools_tab .nckOptionsContainer button {
	min-width: 150px;
}

#opt_savedRefreshes,
#opt_savedRefreshes option {
	/* unfortunately, this right-align doesn't work for selects in webkit */
	text-align: right;
}

.nckOptionsContainer {
	/* margin-right: 400px; */
}

.nckOptionsContainer span {
	color: green;
	font-size: 10px;
	line-height: 12px;
	vertical-align: middle;
}

.nckOptionsContainer span.nckOptionsError {
	color: red;
	font-weight: bold;
}

.nckOptionsContainer label, .nckOptionsContainer label.label-right {
	display: inline-block;
	width: 200px;
	text-align: right;
	font-weight: bold;
	font-size: 11px;
}

.nckOptionsContainer label.label-right {
	text-align: left;
	width: auto;
}

.nckOptionsContainer input[type=text] {
	padding: 0 5px;
}

.nckOptionsButtons {
	text-align: left;
	margin: 10px 0;
}

#changed_options_list {
	opacity: 0.25;
}

#changed_options_list:hover {
	opacity: 1;
}

.nckTabChanged .tab-label,
.nckOptionChanged label {
	color: #B25F43;
}

.nckOptions {
	overflow-y: scroll;
}

.nckOptionsColor {
	margin-bottom: 5px;
}

/*
****************************************
* graphs page
****************************************
*/
body.nckGraphs {

}

.nckGraphContainer {

}

.nckGraph {
	display: block;
	width: 500px;
	height: 400px;
	border: 1px solid #ccc;
	overflow: hidden;
}

/*
****************************************
* credits page
****************************************
*/

.nckCredits {
	width: 500px;
	background-color: transparent; /* rgba( 255, 255, 255, 0.3 ) */
	background-image: url( "img/nk_logo_bg_slight.png" );
	background-repeat: no-repeat;
	background-position: center right;
	margin: 0 auto;
	padding: 10px;
}

.nckCredits h1, .nckCredits h2 {
	font-size: 40px;
	text-align: center;
}

.nckCredits h3 {
	font-size: 20px;
}

.nckCredits ul ul li {
	font-weight: bold;
	font-style: italic;
}

.nckCredits > ul > li:last-child {
	width: 200px;
}

.nckCredits > ul > li:last-child ul {
	perspective: 500;
	-webkit-perspective: 500;
}

.nckCredits > ul > li:last-child h3:hover {
	background-color: rgba( 255, 139, 96, 0.05 );
}

.nckCredits > ul > li:last-child ul li:hover {
	list-style-image: url( "img/tiny_upvote.png" );
}

.thanksYouFolksRock {
	width: 400px;
	overflow: hidden;
	margin: 20px auto;
}

.rocking {
	list-style-image: url( "img/tiny_upvote.png" );
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	transform: rotateX(720deg);
	-webkit-transform: rotateX(720deg);
	color: #ABAB15;
}	

.thoseWhoRock {
	color: #ABAB15;
}

