body {
	font-family: Arial, sans-serif;
	line-height: 14px;
	font-size: 12px;
	margin: 0;
	padding: 0;
	background: -webkit-linear-gradient(top,  rgba( 255, 139, 96, 0.2 ) 0%, rgba( 148, 148, 255, 0.2 ) 100%);
	background: linear-gradient(to bottom,  #rgba( 255, 139, 96, 0.2 ) 0%, rgba( 148, 148, 255, 0.2 ) 100%);
}
.nckContent {
	margin: 10px;
}
.nckOptionsContainer {

}
.nckOptionsContainer span {
	color: green;
	font-size: 10px;
	line-height: 12px;
	vertical-align: middle;
}

.nckOptionsContainer span.nckOptionsError {
	color: red;
	font-weight: bold;
}

.nckOptionsContainer label {
	display: inline-block;
	width: 200px;
	text-align: right;
}

.nckOptionsContainer input[type=text] {
	padding: 0 5px;
}

.nckOptionsButtons {
	margin-left: 200px;
	text-align: left;
}

.nckContent canvas {
	border: 2px solid red;
}

.nckPopup {
	width: 350px;
	font-size: 80%;
}

.nckPopUserStats {
	font-family: Arial, sans-serif;
	font-size: 11px;
}

.nckPopUserStats tr td:first-child {
	color: #666666;
	text-align: right;
	font-style: italic;
}

.nckKarmaDown {
	color: red;
}

.nckKarmaUp {
	color: green;
}

.nckButtonRow {
	margin: 5px 0;
	text-align: left;
}
.nckButtonRowHelp {
	padding-top: 5px;
	border-top: 1px solid #646AAA;
}

#nck_name {
	margin: 0;
}
#nck_desc {
	border-bottom: 1px solid #646AAA;
}
#nck_close_x {
	position: fixed;
	top: 0;
	right: 0;
	height: 14px;
	width: 14px;
	font-size: 8px;
	line-height: 9px;
	text-align: center;
	padding: 0;
	margin: 0;
}
.nckOptionsColor {
	margin-bottom: 5px;
}
.nckHidden {
/*
	display: none !important;
*/
}

input[type="button"],
input[type="color"],
button {
	-webkit-appearance: none !important;
	background: #e8e8ff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8ff));
	background: -webkit-linear-gradient(top, #fff, #e8e8ff);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #646AAA;
	color: #000;
	font-size: 12px;
	font-family: Arial, sans-serif;
	text-decoration: none;
	padding: 2px 4px;
	vertical-align: middle;
}
input[type="button"]:hover,
input[type="color"]:hover,
button:hover,
input[type="button"]:active,
input[type="color"]:active,
button:active {
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#e8e8ff), to(#fff));
	background: -webkit-linear-gradient(top, #e8e8ff, #fff);
	color: #b25f43;
	border: 1px solid #B25F43;
}
input[type="button"]:active,
input[type="color"]:active,
button:active {
	border: 1px solid #FF8B60;
}
input[type="color"]{
	height: 20px;
	padding: 0;
	width: 20px;
	border: none;
	background: transparent;
}

input[type="range"]{
	vertical-align: middle;
	height: 10px;
	width: 50px;
}
input[type="button"]:disabled,
input[type="color"]:disabled,
button:disabled {
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#888));
	background: -webkit-linear-gradient(top, #fff, #888);
	border: 1px solid #333;
	color: #555;
	opacity: 0.25;
}



