/*
FF8B60 upvote orange
ffeae2 light upvote orange
B25F43 dark upvote orange
9494FF downvote blue
e8e8ff light downvote blue
646AAA dark downvote blue
800080 purple
*/
/* page stuff */
body {
	background: #e8e8ff;
/*	background: linear-gradient(to bottom,  #ffeae2 0%,#e8e8ff 100%); */
/*	background: linear-gradient(to bottom,  #rgba( 255, 139, 96, 0.2 ) 0%, rgba( 148, 148, 255, 0.2 ) 100%); */
}
.side {
	background: #e8e8ff;
}
#header {
	background: #ffeae2;
}
#header-img {
	display: inline-block;
	margin-left: 10px;
}
.thumbnail.self {
	height: 48px;
	width: 48px;
	background-image: url( %%icon48%% );
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.25;
}

/* tabmenu */
.tabmenu li.selected a {
	color: #B25F43;
	background-color: #e8e8ff;
	border-bottom: 1px solid #e8e8ff;
}

/* sidebar */
#moderation_tools .content {
	background-color: white;
}
.sidebox a {
	background-color: transparent !important;
}
.sidebox.create,
.sidebox.submit {
	background-color: #e8e8ff;
	height: 29px;
	overflow: hidden;
}
.sidebox.create .nub,
.sidebox.submit .nub,
.sidebox.create .morelink,
.sidebox.submit .morelink {
	background-color: #e8e8ff !important;
	margin-bottom: 10px;
}

.sidebox.create .spacer a[href$="/r/Narcikarma/submit"],
.sidebox.create .spacer a[href$="/r/Narcikarma/submit"] + .subtitle
.sidebox.submit .spacer a[href$="/r/Narcikarma/submit"],
.sidebox.submit .spacer a[href$="/r/Narcikarma/submit"] + .subtitle
{
	display: none;
}

/* posts */
.author.submitter {
}

/* creator */
.author[href$="/badmonkey0001"], .author.submitter[href$="/badmonkey0001"]
{
	display: inline-block;
	color: #e8e8ff !important;
	background-color: #800080 !important;
	font-weight: bold;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #FF8B60;
	padding: 2px;
	text-transform: uppercase;
	font-size: 75%;
}
.author[href$="/badmonkey0001"]:after
{
	padding: 0 2px;
	content: " (Original Creator)";
}

/* closed alpha testers */
.author[href$="/jengo"], .author.submitter[href$="/jengo"],
.author[href$="/jnickers"], .author.submitter[href$="/jnickers"],
.author[href$="/The_Boudzter"], .author.submitter[href$="/The_Boudzter"],
.author[href$="/evilmarc"], .author.submitter[href$="/evilmarc"],
.author[href$="/lenoat702"], .author.submitter[href$="/lenoat702"],
.author[href$="/MobsterMonkey21"], .author.submitter[href$="/MobsterMonkey21"],
.author[href$="/tomswartz07"], .author.submitter[href$="/tomswartz07"],
.author[href$="/Zagorath"], .author.submitter[href$="/Zagorath"],
.author[href$="/KerrickLong"], .author.submitter[href$="/KerrickLong"]
{
	background-color: #B25F43 !important;
	color: #e8e8ff !important;
	padding: 0 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #B25F43;
	font-size: 75%;
}
.author[href$="/jengo"]:after,
.author[href$="/jnickers"]:after,
.author[href$="/The_Boudzter"]:after,
.author[href$="/evilmarc"]:after,
.author[href$="/lenoat702"]:after,
.author[href$="/MobsterMonkey21"]:after,
.author[href$="/tomswartz07"]:after,
.author[href$="/Zagorath"]:after,
.author[href$="/KerrickLong"]:after
{
	display: inline-block;
	color: #646AAA !important;
	background-color: #FF8B60 !important;
	font-weight: bold;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #646AAA;
	padding: 0 2px;
	content: " (Alpha Tester)";
}
